<!DOCTYPE html>
<html ng-app="simpleapp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>

    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/app.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="page-header jumbotron" ng-controller="HelloController as HelloCtrl">
            <h1>{{hello}}</h1>
            <p>{{description}}</p>
        </div>
        <div ng-controller="TvController as TvCtrl">
            <h2>{{channelsheadline}}</h2>
            <br />
            <input type="search" ng-model="q" placeholder="filter channels..." />
            <br /><br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Channel</td>
                        <td>Program</td>
                        <td>Time</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="channel in channels | filter:IsBroadCasting | filter: q">
                        <td><img src="{{channel.ChannelInformation.PrimaryImageUri}}" title="{{channel.ChannelSlug}}" width="50" /></td>
                        <td>
                            {{channel.Now.Title}}<br /><small style="display:none;" ng-show="channel.Now.Subtitle != ''">{{channel.Now.Subtitle}}<br /></small>
                            <span class="small" style="color:#cacaca;" ng-repeat="show in channel.Next" ng-show="$first">
                                Next:
                                {{show.Title}}
                            </span>
                        </td>
                        <td width="250">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{channel.procentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{channel.procentage}}%;">
                                </div>
                                <span>{{channel.Now.StartTime | date:'HH:mm'}} - {{channel.Now.EndTime | date:'HH:mm'}}</span>
                            </div>
                        </td>
                        <td><a class="btn btn-success" target="_blank" href="http://www.dr.dk/tv/live/{{channel.ChannelSlug}}">Watch now</a> </td>

                    </tr>


                    <tr ng-repeat="channel in channels | filter:IsNotBroadCasting | filter: q">
                        <td><img src="{{channel.ChannelInformation.PrimaryImageUri}}" title="{{channel.ChannelSlug}}" width="50" /></td>
                        <td></small></td>
                        <td></td>
                        <td><span class="btn btn-danger">Watch now</span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
